server:
  protocol: https
  hostname: ${API_HOSTNAME}
  port: ${PORT}
  adminPort: ${ADMIN_PORT}
  basePathPrefix: /api
  keyPath: /path/to/key.pem
  certPath: /path/to/server.crt
  secureProtocol: TLSv1_2_method

authentication:
  username: ${USER}
  password: ${PASSWD}

logger:
  size: 10m
  path: logs
  pattern: YYYY-MM-DD
  archive: true

dataSources:
  dataSources: ['json', 'oracledb']
  json:
    dbPath: 'tests/unit/mock-data.json'
  oracledb:
    connectString: ${DB_URL}
    user: ${DB_USER}
    password: ${DB_PASSWD}
    poolMin: 4
    poolMax: 4
    poolIncrement: 0
